.image-wrap {
    width: 23%;
    max-height: 200px;
    margin: 1%;
}

.character {
    object-fit: cover;
    object-position: top;
    width: 200px;
    height: 200px; 
    max-width: 100%;
    border-radius: 5%
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulsed:hover{
    animation-name: pulse;
    cursor: pointer;
  }