.banner {
    background-color: rgba(255, 255, 255, 0.363);
    height:300px;
    width: 80%;
    margin: auto;
    border-radius: 5%;
}

.text-box {
    margin:auto;
    width:50%
}

.text {
    font-size: 50px;
}