.banner {
    background-image: url("https://vignette.wikia.nocookie.net/bokunoheroacademia/images/5/50/Wiki-background/revision/latest?cb=20151028231209");
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    height:400px;
}

.text-box {
    margin:auto;
    width:50%
}

.text {
    font-size: 50px;
}